@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "ags";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(18.3% 0.005 285.8);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(23.8% 0.002 226.5);
  --color-base-content: oklch(93.8% 0.011 77.9);
  --color-primary: oklch(51% 0.262 276.966);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(59% 0.145 163.225);
  --color-secondary-content: oklch(97% 0.021 166.113);
  --color-accent: oklch(43% 0 0);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(45.0% 0.075 161.8);
  --color-neutral-content: oklch(98% 0.019 200.873);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.3125rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 1;
}
